<a href="https://colab.research.google.com/github/saurabhsingh1411/10_simple_project_data_science/blob/main/sentimantal%20analysis/twitter_sentimental_analysis_final_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing lib and dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split

In [2]:
data=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [3]:
data.head()

   id  label                                              tweet
0   1      0  #fingerprint #Pregnancy Test https://goo.gl/h1...
1   2      0  Finally a transparant silicon case ^^ Thanks t...
2   3      0  We love this! Would you go? #talk #makememorie...
3   4      0  I'm wired I know I'm George I was made that wa...
4   5      1  What amazing service! Apple won't even talk to...

In [4]:
data = data[['tweet','label']]
data.head()

                                               tweet  label
0  #fingerprint #Pregnancy Test https://goo.gl/h1...      0
1  Finally a transparant silicon case ^^ Thanks t...      0
2  We love this! Would you go? #talk #makememorie...      0
3  I'm wired I know I'm George I was made that wa...      0
4  What amazing service! Apple won't even talk to...      1

In [5]:
data = data[data.label != "Neutral"]
data['tweet'] = data['tweet'].apply(lambda x: x.lower())
data['tweet'] = data['tweet'].apply((lambda x: re.sub('[^a-zA-z0-9\s]','',x)))

print(data[ data['label'] == 1].size)
print(data[ data['label'] == 0].size)

for idx,row in data.iterrows():
    row[0] = row[0].replace('rt',' ')
    
max_fatures = 2000
tokenizer = Tokenizer(num_words=max_fatures, split=' ')
tokenizer.fit_on_texts(data['tweet'].values)
X = tokenizer.texts_to_sequences(data['tweet'].values)
X = pad_sequences(X)

4052
11788

In [7]:
from keras.models import Sequential
from keras.layers import Embedding,LSTM,SpatialDropout1D,Dense

In [9]:
embed_dim = 128
lstm_out = 196

model = Sequential()
model.add(Embedding(max_fatures, embed_dim,input_length = X.shape[1]))
model.add(SpatialDropout1D(0.4))
model.add(LSTM(lstm_out, dropout=0.2, recurrent_dropout=0.2))
model.add(Dense(2,activation='softmax'))
model.compile(loss = 'categorical_crossentropy', optimizer='adam',metrics = ['accuracy'])
print(model.summary())

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 48, 128)           256000
_________________________________________________________________
spatial_dropout1d_1 (Spatial (None, 48, 128)           0
_________________________________________________________________
lstm_1 (LSTM)                (None, 196)               254800
_________________________________________________________________
dense_1 (Dense)              (None, 2)                 394
=================================================================
Total params: 511,194
Trainable params: 511,194
Non-trainable params: 0
_________________________________________________________________
None

In [10]:
Y = pd.get_dummies(data['label']).values
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.33, random_state = 42)
print(X_train.shape,Y_train.shape)
print(X_test.shape,Y_test.shape)

(5306, 48) (5306, 2)
(2614, 48) (2614, 2)

In [12]:
batch_size = 32
model.fit(X_train, Y_train, epochs = 50, batch_size=batch_size, verbose = 2,validation_data=(X_test ,Y_test))

Epoch 1/50
166/166 - 40s - loss: 0.2073 - accuracy: 0.9133 - val_loss: 0.2864 - val_accuracy: 0.8711
Epoch 2/50
166/166 - 40s - loss: 0.1753 - accuracy: 0.9289 - val_loss: 0.2762 - val_accuracy: 0.8818
Epoch 3/50
166/166 - 40s - loss: 0.1462 - accuracy: 0.9429 - val_loss: 0.2834 - val_accuracy: 0.8795
Epoch 4/50
166/166 - 40s - loss: 0.1235 - accuracy: 0.9506 - val_loss: 0.3575 - val_accuracy: 0.8730
Epoch 5/50
166/166 - 40s - loss: 0.1004 - accuracy: 0.9623 - val_loss: 0.4378 - val_accuracy: 0.8646
Epoch 6/50
166/166 - 40s - loss: 0.0890 - accuracy: 0.9681 - val_loss: 0.4199 - val_accuracy: 0.8718
Epoch 7/50
166/166 - 40s - loss: 0.0773 - accuracy: 0.9717 - val_loss: 0.4533 - val_accuracy: 0.8577
Epoch 8/50
166/166 - 40s - loss: 0.0610 - accuracy: 0.9755 - val_loss: 0.4896 - val_accuracy: 0.8542
Epoch 9/50
166/166 - 40s - loss: 0.0567 - accuracy: 0.9800 - val_loss: 0.6159 - val_accuracy: 0.8546
Epoch 10/50
166/166 - 40s - loss: 0.0439 - accuracy: 0.9838 - val_loss: 0.6214 - val_accuracy: 0.8523
Epoch 11/50
166/166 - 40s - loss: 0.0402 - accuracy: 0.9847 - val_loss: 0.6860 - val_accuracy: 0.8523
Epoch 12/50
166/166 - 40s - loss: 0.0286 - accuracy: 0.9894 - val_loss: 0.7731 - val_accuracy: 0.8531
Epoch 13/50
166/166 - 40s - loss: 0.0330 - accuracy: 0.9889 - val_loss: 0.7919 - val_accuracy: 0.8508
Epoch 14/50
166/166 - 40s - loss: 0.0265 - accuracy: 0.9896 - val_loss: 0.8412 - val_accuracy: 0.8485
Epoch 15/50
166/166 - 40s - loss: 0.0231 - accuracy: 0.9913 - val_loss: 0.8606 - val_accuracy: 0.8470
Epoch 16/50
166/166 - 40s - loss: 0.0211 - accuracy: 0.9938 - val_loss: 0.8596 - val_accuracy: 0.8474
Epoch 17/50
166/166 - 40s - loss: 0.0231 - accuracy: 0.9932 - val_loss: 0.8629 - val_accuracy: 0.8558
Epoch 18/50
166/166 - 40s - loss: 0.0196 - accuracy: 0.9936 - val_loss: 0.8891 - val_accuracy: 0.8474
Epoch 19/50
166/166 - 40s - loss: 0.0165 - accuracy: 0.9947 - val_loss: 0.9129 - val_accuracy: 0.8470
Epoch 20/50
166/166 - 40s - loss: 0.0129 - accuracy: 0.9962 - val_loss: 0.9896 - val_accuracy: 0.8504
Epoch 21/50
166/166 - 40s - loss: 0.0180 - accuracy: 0.9938 - val_loss: 0.8594 - val_accuracy: 0.8439
Epoch 22/50
166/166 - 40s - loss: 0.0218 - accuracy: 0.9915 - val_loss: 0.7693 - val_accuracy: 0.8466
Epoch 23/50
166/166 - 40s - loss: 0.0160 - accuracy: 0.9945 - val_loss: 0.9262 - val_accuracy: 0.8542
Epoch 24/50
166/166 - 40s - loss: 0.0141 - accuracy: 0.9947 - val_loss: 0.9238 - val_accuracy: 0.8500
Epoch 25/50
166/166 - 40s - loss: 0.0148 - accuracy: 0.9959 - val_loss: 0.9450 - val_accuracy: 0.8443
Epoch 26/50
166/166 - 40s - loss: 0.0127 - accuracy: 0.9960 - val_loss: 0.9047 - val_accuracy: 0.8542
Epoch 27/50
166/166 - 40s - loss: 0.0141 - accuracy: 0.9962 - val_loss: 0.9328 - val_accuracy: 0.8542
Epoch 28/50
166/166 - 40s - loss: 0.0093 - accuracy: 0.9975 - val_loss: 1.0457 - val_accuracy: 0.8508
Epoch 29/50
166/166 - 40s - loss: 0.0156 - accuracy: 0.9940 - val_loss: 0.9924 - val_accuracy: 0.8454
Epoch 30/50
166/166 - 40s - loss: 0.0112 - accuracy: 0.9957 - val_loss: 0.9447 - val_accuracy: 0.8508
Epoch 31/50
166/166 - 40s - loss: 0.0070 - accuracy: 0.9983 - val_loss: 1.2048 - val_accuracy: 0.8500
Epoch 32/50
166/166 - 40s - loss: 0.0063 - accuracy: 0.9977 - val_loss: 1.0758 - val_accuracy: 0.8470
Epoch 33/50
166/166 - 40s - loss: 0.0073 - accuracy: 0.9979 - val_loss: 1.0845 - val_accuracy: 0.8451
Epoch 34/50
166/166 - 40s - loss: 0.0102 - accuracy: 0.9962 - val_loss: 1.0498 - val_accuracy: 0.8435
Epoch 35/50
166/166 - 40s - loss: 0.0094 - accuracy: 0.9970 - val_loss: 0.9797 - val_accuracy: 0.8497
Epoch 36/50
166/166 - 40s - loss: 0.0090 - accuracy: 0.9968 - val_loss: 0.9986 - val_accuracy: 0.8389
Epoch 37/50
166/166 - 40s - loss: 0.0127 - accuracy: 0.9947 - val_loss: 1.1632 - val_accuracy: 0.8485
Epoch 38/50
166/166 - 40s - loss: 0.0100 - accuracy: 0.9964 - val_loss: 1.0424 - val_accuracy: 0.8451
Epoch 39/50
166/166 - 40s - loss: 0.0088 - accuracy: 0.9970 - val_loss: 1.0337 - val_accuracy: 0.8481
Epoch 40/50
166/166 - 40s - loss: 0.0040 - accuracy: 0.9983 - val_loss: 1.1882 - val_accuracy: 0.8474
Epoch 41/50
166/166 - 40s - loss: 0.0090 - accuracy: 0.9966 - val_loss: 1.2013 - val_accuracy: 0.8443
Epoch 42/50
166/166 - 40s - loss: 0.0077 - accuracy: 0.9981 - val_loss: 1.1705 - val_accuracy: 0.8424
Epoch 43/50
166/166 - 40s - loss: 0.0076 - accuracy: 0.9972 - val_loss: 1.0994 - val_accuracy: 0.8531
Epoch 44/50
166/166 - 40s - loss: 0.0055 - accuracy: 0.9975 - val_loss: 1.2077 - val_accuracy: 0.8481
Epoch 45/50
166/166 - 40s - loss: 0.0043 - accuracy: 0.9981 - val_loss: 1.0951 - val_accuracy: 0.8466
Epoch 46/50
166/166 - 39s - loss: 0.0055 - accuracy: 0.9981 - val_loss: 1.1841 - val_accuracy: 0.8435
Epoch 47/50
166/166 - 40s - loss: 0.0044 - accuracy: 0.9985 - val_loss: 1.2213 - val_accuracy: 0.8485
Epoch 48/50
166/166 - 40s - loss: 0.0095 - accuracy: 0.9970 - val_loss: 1.1159 - val_accuracy: 0.8477
Epoch 49/50
166/166 - 40s - loss: 0.0057 - accuracy: 0.9972 - val_loss: 1.1576 - val_accuracy: 0.8504
Epoch 50/50
166/166 - 40s - loss: 0.0066 - accuracy: 0.9974 - val_loss: 1.2105 - val_accuracy: 0.8454

In [13]:
twt=test['tweet']

In [14]:
max_fatures = 2000
tokenizer = Tokenizer(num_words=max_fatures, split=' ')
tokenizer.fit_on_texts(test['tweet'].values)
X_test2 = tokenizer.texts_to_sequences(test['tweet'].values)
X_test2 = pad_sequences(X)

In [ ]:
#twt = tokenizer.texts_to_sequences(twt)

In [ ]:
#twt = pad_sequences(twt, maxlen=120, dtype='int32', value=0)

In [15]:
X_test2

array([[   0,    0,    0, ...,  136,  129,    1],
       [   0,    0,    0, ...,   17,  304,  279],
       [   0,    0,    0, ...,  146,  336, 1238],
       ...,
       [   0,    0,    0, ...,  168,   39,    4],
       [   0,    0,    0, ...,    7,  343,  465],
       [   0,    0,    0, ...,  105, 1913,   52]], dtype=int32)

In [ ]:
#prediction=np.argmax(model.predict(X_test2))

In [16]:
prediction_final=np.argmax(model.predict(X_test2), axis=-1)

In [18]:
prediction_final[1:10]

array([0, 0, 0, 1, 1, 0, 0, 0, 0])