<a href="https://colab.research.google.com/github/saurabhsingh1411/10_simple_project_data_science/blob/main/sales%20forcasting/big_mart_sales_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing Lib and files

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder 
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.linear_model import LinearRegression

In [2]:
test=pd.read_csv('Test.csv')
train=pd.read_csv('Train.csv')

In [3]:
test.head()

  Item_Identifier  Item_Weight  ... Outlet_Location_Type        Outlet_Type
0           FDW58       20.750  ...               Tier 1  Supermarket Type1
1           FDW14        8.300  ...               Tier 2  Supermarket Type1
2           NCN55       14.600  ...               Tier 3      Grocery Store
3           FDQ58        7.315  ...               Tier 2  Supermarket Type1
4           FDY38          NaN  ...               Tier 3  Supermarket Type3

[5 rows x 11 columns]

In [4]:
train.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [5]:
train.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [6]:
test.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type'],
      dtype='object')

# preprocessing

In [8]:
data=pd.concat([train,test],ignore_index=True)

data.tail(3)

      Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
14201           NCO17         10.0  ...  Supermarket Type1                NaN
14202           FDJ26         15.3  ...  Supermarket Type1                NaN
14203           FDU37          9.5  ...  Supermarket Type1                NaN

[3 rows x 12 columns]

In [9]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                  2439
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  4016
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales            5681
dtype: int64

In [11]:
data['Item_Weight'].fillna(value=data['Item_Weight'].mean(),inplace=True)   #itemweight

In [12]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  4016
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales            5681
dtype: int64

In [14]:
data['Outlet_Size']=data['Outlet_Size'].map({'Small':1,'Medium':2,'High':3})  #category

In [15]:
data['Outlet_Size'].value_counts()

2.0    4655
1.0    3980
3.0    1553
Name: Outlet_Size, dtype: int64

In [16]:
data['Outlet_Size'].fillna(value=data['Outlet_Size'].mean(),inplace=True)

In [18]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                     0
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales            5681
dtype: int64