<a href="https://colab.research.google.com/github/saurabhsingh1411/10_simple_project_data_science/blob/main/Bigmart%20sales%20Prediction/Bigmart_Sales_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
train=pd.read_csv('Train.csv')
test=pd.read_csv('Test.csv')

In [3]:
train.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [4]:
test.head()

  Item_Identifier  Item_Weight  ... Outlet_Location_Type        Outlet_Type
0           FDW58       20.750  ...               Tier 1  Supermarket Type1
1           FDW14        8.300  ...               Tier 2  Supermarket Type1
2           NCN55       14.600  ...               Tier 3      Grocery Store
3           FDQ58        7.315  ...               Tier 2  Supermarket Type1
4           FDY38          NaN  ...               Tier 3  Supermarket Type3

[5 rows x 11 columns]

In [5]:
train.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [6]:
test['Item_Outlet_Sales']='test'

test.tail()

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
5676           FDB58         10.5  ...  Supermarket Type1               test
5677           FDD47          7.6  ...  Supermarket Type2               test
5678           NCO17         10.0  ...  Supermarket Type1               test
5679           FDJ26         15.3  ...  Supermarket Type1               test
5680           FDU37          9.5  ...  Supermarket Type1               test

[5 rows x 12 columns]

In [7]:
data=pd.concat([train,test],ignore_index=True)

data.head(5)

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1            3735.14
1           DRC01         5.92  ...  Supermarket Type2            443.423
2           FDN15        17.50  ...  Supermarket Type1            2097.27
3           FDX07        19.20  ...      Grocery Store             732.38
4           NCD19         8.93  ...  Supermarket Type1            994.705

[5 rows x 12 columns]

In [8]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                  2439
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  4016
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [9]:
data['Item_Weight'].fillna(value=data['Item_Weight'].mean(),inplace=True)

In [10]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  4016
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [11]:
data['Outlet_Size']=data['Outlet_Size'].map({'Small':1,'Medium':2,'High':3})

data.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1            3735.14
1           DRC01         5.92  ...  Supermarket Type2            443.423
2           FDN15        17.50  ...  Supermarket Type1            2097.27
3           FDX07        19.20  ...      Grocery Store             732.38
4           NCD19         8.93  ...  Supermarket Type1            994.705

[5 rows x 12 columns]

In [12]:
data['Outlet_Size'].fillna(value=data['Outlet_Size'].mean(),inplace=True)

data.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1            3735.14
1           DRC01         5.92  ...  Supermarket Type2            443.423
2           FDN15        17.50  ...  Supermarket Type1            2097.27
3           FDX07        19.20  ...      Grocery Store             732.38
4           NCD19         8.93  ...  Supermarket Type1            994.705

[5 rows x 12 columns]

In [13]:
data.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [14]:
categorical_columns=[x for x in data.dtypes.index if data.dtypes[x]=='object']

print(categorical_columns)
print(len(categorical_columns))

['Item_Identifier', 'Item_Fat_Content', 'Item_Type', 'Outlet_Identifier', 'Outlet_Location_Type', 'Outlet_Type', 'Item_Outlet_Sales']
7

In [15]:
data['Item_Identifier'].value_counts()

FDP37    10
NCT18    10
FDE16    10
FDQ12    10
NCO30    10
         ..
FDL50     7
FDI46     7
FDM52     7
NCW54     7
FDR51     7
Name: Item_Identifier, Length: 1559, dtype: int64

In [16]:
data.drop(['Item_Type','Outlet_Identifier','Outlet_Establishment_Year',
           'Outlet_Location_Type','Outlet_Size'],axis=1,inplace=True)

data.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1            3735.14
1           DRC01         5.92  ...  Supermarket Type2            443.423
2           FDN15        17.50  ...  Supermarket Type1            2097.27
3           FDX07        19.20  ...      Grocery Store             732.38
4           NCD19         8.93  ...  Supermarket Type1            994.705

[5 rows x 7 columns]

In [18]:
data['Item_type_combined']=data['Item_Identifier'].apply(lambda x:x[0:2])

data['Item_type_combined'].value_counts()

FD    10201
NC     2686
DR     1317
Name: Item_type_combined, dtype: int64

In [19]:

data['Item_Fat_Content']=data['Item_Fat_Content'].map({'LF':'Low Fat','reg':'Regular','low fat':'Low Fat','Regular':'Regular','Low Fat':'Low Fat'})

data['Item_Fat_Content'].value_counts()

Low Fat    9185
Regular    5019
Name: Item_Fat_Content, dtype: int64

In [20]:
data.drop('Outlet_Type',axis=1,inplace=True)

In [21]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [22]:
data['Item_Fat_Content']=le.fit_transform(data['Item_Fat_Content'])

data['Item_type_combined']=le.fit_transform(data['Item_type_combined'])

data['Item_Identifier']=le.fit_transform(data['Item_Identifier'])

In [23]:
data.head(5)

   Item_Identifier  Item_Weight  ...  Item_Outlet_Sales  Item_type_combined
0              156         9.30  ...            3735.14                   1
1                8         5.92  ...            443.423                   0
2              662        17.50  ...            2097.27                   1
3             1121        19.20  ...             732.38                   1
4             1297         8.93  ...            994.705                   2

[5 rows x 7 columns]

In [24]:

train_data=data[data['Item_Outlet_Sales']!='test']
test_data=data[data['Item_Outlet_Sales']=='test']
print(train_data.shape)
print(test_data.shape)
print(data.shape)

(8523, 7)
(5681, 7)
(14204, 7)

## Fitting the model

In [25]:
y=train_data['Item_Outlet_Sales']

In [26]:
train_data.drop('Item_Outlet_Sales',axis=1,inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [27]:
train_data.head()

   Item_Identifier  Item_Weight  ...  Item_MRP  Item_type_combined
0              156         9.30  ...  249.8092                   1
1                8         5.92  ...   48.2692                   0
2              662        17.50  ...  141.6180                   1
3             1121        19.20  ...  182.0950                   1
4             1297         8.93  ...   53.8614                   2

[5 rows x 6 columns]

In [28]:
X_train=train_data

In [29]:
test_data.drop('Item_Outlet_Sales',axis=1,inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [30]:
X_test=test_data

In [31]:
lr=LinearRegression()
lr.fit(X_train,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [32]:
y_pred=lr.predict(X_test)

In [33]:
X_test.head()

      Item_Identifier  Item_Weight  ...  Item_MRP  Item_type_combined
8523             1114    20.750000  ...  107.8622                   1
8524             1078     8.300000  ...   87.3198                   1
8525             1420    14.600000  ...  241.7538                   2
8526              817     7.315000  ...  155.0340                   1
8527             1197    12.792854  ...  234.2300                   1

[5 rows x 6 columns]

In [34]:
X_test['Item_Outlet_sales']=y_pred

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [35]:
X_test.head(10)

      Item_Identifier  Item_Weight  ...  Item_type_combined  Item_Outlet_sales
8523             1114    20.750000  ...                   1        1887.943701
8524             1078     8.300000  ...                   1        1525.116397
8525             1420    14.600000  ...                   2        3553.365448
8526              817     7.315000  ...                   1        2603.802176
8527             1197    12.792854  ...                   1        3463.066693
8528              465     9.800000  ...                   1        1869.561104
8529              610    19.350000  ...                   1         734.347266
8530              268    12.792854  ...                   1        1435.296948
8531              674     6.305000  ...                   1        1290.291352
8532              172     5.985000  ...                   1        3133.406708

[10 rows x 7 columns]